<br />

<div class="booyah-box col-10 offset-1">
  <h1>About Melsenink Tutorials</h1>

  <p>
    This website is intended as a resource for screen printers who would like to learn more about the graphic art side of the business.
  </p>
</div>