<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>for Screen Printers and Graphic Artists</h1>
    <br />
    <h2>Photoshop &ndash; Corel Draw</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
  <br /><br />
</div>
<br />
<div class="row text-center feature">
  <div class="col-12 col-sm">
    <h3>Focused Courses</h3>
    <br />
    <p>Each video tutorial will feature a specific workflow.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Once you enroll, you'll have access to all course content for the length of your subscription.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Community</h3>
    <br />
    <p>Reach out to fellow students on our discussion boards.</p>
  </div>
</div>