// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-image-container {
  max-height: 120px;
  overflow: hidden;
}

.course-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.section, .section-li {
  border: 3px solid;
  border-radius: 4px;
  border-color: #a08080 #ccc #ccc #a08080;
  padding: 20px;
}

.section-li {
  margin: 15px;
}

.section:last-child {
  margin-bottom: 20px;
}

.lesson {
  background-color: #300;
  padding: 10px;
  margin-top: 10px;
  min-height: 130px;
  border-radius: 4px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 20px;
}

.lesson a b {
  font-size: 25px;
}

.lessons li {
  background-color: #300;
  padding: 8px;
  margin-top: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  border-radius: 4px;
  font-size: 18px;
}

.lessons li b {
  font-size: 25px;
}

.lessons li p {
  margin: 0;
}