// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-image-container {
  max-height: 150px;
  overflow: hidden;
}

.course-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.section {
  border: 2px solid;
  border-color: #e4e4e4 #a0c0d0 #a0c0d0 #e4e4e4;
  padding: 20px;
}

.lesson {
  background-color: black;
}