@import "bootstrap";

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  background: image_url('nav-bg.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 40px;
}