@import "bootstrap";
@import "font-awesome";

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  background: image_url('nav-bg.png');
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 40px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 4px 0 #115599;
  background: rgba(184, 208, 238, 0.7); /* #b8d0ee */
  border: 2px solid #ccc;
  border-color: #e4e4e4 #a0c0d0 #a0c0d0 #e4e4e4;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h1, .booyah-box h2 {
  margin: 10px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.btn {
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

body {
  background: image_url('feature-bg.png');
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}